In [21]:
!pip install opendatasets --upgrade

Requirement already satisfied: opendatasets in ./py312/lib/python3.9/site-packages (0.1.22)
Requirement already satisfied: tqdm in ./py312/lib/python3.9/site-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in ./py312/lib/python3.9/site-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in ./py312/lib/python3.9/site-packages (from opendatasets) (8.1.8)
Requirement already satisfied: bleach in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (2026.1.4)
Requirement already satisfied: charset-normalizer in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (6.33.4)
Requirement already satisfied: python-dateutil>=2.5.3 in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (58.0.4)
Requirement already satisfied: six>=1.10 in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (2.6.3)
Requirement already satisfied: webencodings in ./py312/lib/python3.9/site-packages (from kaggle->opendatasets) (0.5.1)

In [22]:
!pip install pandas

Requirement already satisfied: pandas in ./py312/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in ./py312/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./py312/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./py312/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./py312/lib/python3.9/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in ./py312/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [23]:
import opendatasets as od
import pandas as pd

od.download("https://www.kaggle.com/datasets/ankitbansal06/retail-orders")

Skipping, found downloaded files in "./retail-orders" (use force=True to force download)

In [24]:
df = pd.read_csv("retail-orders/orders.csv")
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [25]:
# Define common representations of missing values
# Covers case differences, system-generated placeholders,
# and human-entered empty or invalid values
na_vals = [
    'Not Available', 'not available',
    'Unknown', 'unknown',
    'N/A', 'NA', 'n/a',
    '', ' '
]

# Read CSV file and standardize missing values to NaN
# keep_default_na=True preserves pandas' default missing value detection
df = pd.read_csv(
    "retail-orders/orders.csv",
    na_values=na_vals,
    keep_default_na=True
)

In [26]:
df.isna().sum().sort_values(ascending=False) 
#First, isna() identifies missing values in the dataset.
#Then, sum() calculates the total number of missing values for each column.
#Finally, sort_values() orders the columns by the number of missing values in descending order.

Ship Mode           6
Order Id            0
Order Date          0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [27]:
# Convert all column names to lowercase
df.columns = df.columns.str.lower()

# Replace spaces in column names with underscores
df.columns = df.columns.str.replace(' ', '_')

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   order_date        9994 non-null   object
 2   ship_mode         9988 non-null   object
 3   segment           9994 non-null   object
 4   country           9994 non-null   object
 5   city              9994 non-null   object
 6   state             9994 non-null   object
 7   postal_code       9994 non-null   int64
 8   region            9994 non-null   object
 9   category          9994 non-null   object
 10  sub_category      9994 non-null   object
 11  product_id        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  list_price        9994 non-null   int64
 14  quantity          9994 non-null   int64
 15  discount_percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [29]:
df['order_date'] = pd.to_datetime(df['order_date'], errors='coerce')

In [30]:
df['order_id'].is_unique #Check uniqueness

True

In [31]:
df['order_id'].isna().sum() #Check missing values

np.int64(0)

In [32]:
df.shape[0] == df['order_id'].nunique() #Check row count vs unique count

True

In [33]:
# Calculate discount amount per order
df['discount'] = df['list_price'] * df['discount_percent'] / 100

# Calculate sale price after discount
df['sale_price'] = df['list_price'] - df['discount']

# Calculate profit per order
df['profit'] = df['sale_price'] - df['cost_price']

df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [34]:
# Remove original pricing columns after deriving required metrics
# This simplifies the dataset while preserving pricing information
df.drop(
    columns=['cost_price', 'list_price', 'discount_percent'],
    inplace=True
)

df.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,7,1.5,48.5,-1.5
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,4,0.3,9.7,-0.3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,6,45.5,864.5,4.5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,3,0.4,19.6,-0.4
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,5,3.3,106.7,16.7

In [35]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./py312/lib/python3.9/site-packages (2.0.45)
Requirement already satisfied: typing-extensions>=4.6.0 in ./py312/lib/python3.9/site-packages (from sqlalchemy) (4.15.0)

In [36]:
import sqlalchemy as sal

db_username = 'postgres'
db_password = '1212'
db_host = 'localhost'
db_port = '5433'
db_name = 'postgres'

connection_string = (
    f'postgresql+psycopg2://{db_username}:{db_password}'
    f'@{db_host}:{db_port}/{db_name}'
)

engine = sal.create_engine(connection_string)
conn = engine.connect()

In [37]:
#Load the data into SQL server using replace function
df.to_sql('df_orders', con=conn, index=False, if_exists = 'append')

994